*{
    margin: 0;
}

#gif-image{
    background-image:url("gif-bild.png");
    height: 67%;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 15%;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    background-size: cover;
}
header{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: black;
    color: white;
    height: 5vh;
    position: fixed;
}

.header-knappar{
    text-decoration: none;
    color: inherit;
}

.switch-hr{
    border: solid 1px;
    
}

.switch{
    margin: 1em;
}

#circle-image{
    border: solid 3px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    width: 18rem;
    height: 18rem;
    
}

#title{
    color: white;
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 0.1em;
}
.about-me{
    color: white;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.1em;
}
.jobb-info{
    width: 40%;
    background-color: white;
}

#container-jobb{
    flex-direction: row;
    display: flex;
    margin-left: 15rem;
    height: 13vh;
    margin-bottom: 1rem;
    align-items: center;
    background-color: white;
    margin-bottom: 2rem;
}
.logor{
    float: right;
    width: 30%;
    margin-left: 10rem
}
.Skills-button{
    height: 6rem;
    width: 15%;
    background-color: grey;
    border-radius: 2em;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Skills{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.Skills-button:hover {
    background-color: red;
  }

.Skills-title{
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 4rem;
    padding-top: 4rem;
    font-size: 5rem;
}
#Bakgrund-Skills{
    background-color: black;
    color: white;
    height: 30rem;
}
#skills-p-tag1, #skills-p-tag2, #skills-p-tag3{
    height: 6rem;
    width: 15%;
    background-color: grey;
    color: white;
    display: inline;
    margin-top: -1.85em;
    padding-top: 1em;
    visibility: hidden;
}
.p-tags{
    display: flex;
    justify-content: space-evenly;
}
.p-tag1{
    margin-left: 2.4em;
    font-size: larger;
}
.p-tag2{
    margin-left: 1em;
    font-size: larger;
}
.p-tag3{
    margin-left: 3em;
    font-size: larger;
}
#Erfarenhet{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}
.toggle{
    height: 6rem;
    background-color: grey;
    border-radius: 2em;
    color: white;
    margin-top: -3.9em;
}
.Portfolio{
    margin-top: 3rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 30vh;
    width: 100%;
}
#Portfolio{
    text-align: center;
    margin-top:1em;
    font-size: 4rem;
}
.projekt{
    text-align: center; 
    line-height: 3em; 
}
.info{
    line-height: 1;
}

.länkar:hover{
    color: red;
}
.länkar{
    text-decoration: none;
    color:inherit
}
#footer{
    margin-top: 3em;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact{
    margin-left: 2em;
    margin-right: 2em;
}
#icons{
    margin-left: 0.5em;
    text-decoration: none;
    color: inherit;
    font-size: x-large;
}
